<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="css/details.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="nav">
        <div class="profile">
            <img src="img/logo.png" alt="">
        </div>
        <ul>
            <li><a href="../../index.html">Home</a></li>
            <li><a href="../../index.html">Customer</a></li>
            <li><a href="../seller/seller.html">Seller</a></li>
            <li><a href="login.html">Log in</a></li>
            <li><a href="signin.html">Sign in</a></li>
        </ul>
    </div>
    <div class="header">
        <form action="#">
            <h1>SIGNIN</h1>
            <div class="action-S1">
                <input type="text" name="name" id="name" placeholder="Name*">
                <input type="password" name="password" id="password" placeholder="Password*">
                <button>Sign in with your email</button>
            </div>
            <h3>or</h3>
            <div class="action-S2">
                <div class="button">
                    <i class="fa fa-google" aria-hidden="true"></i>
                    <button>Sign in with Google</button>
                </div>
                <div class="button">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    <button>Sign in with Facebook</button>
                </div>
                <div class="button">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                    <button>Sign in with Linkidn</button>
                </div>
            </div>
        </form>
    </div>
    </form>

    <script src="js/details.js"></script>
</body>
</html>